@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white ;
    --foreground: black ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Inter',Arial, Helvetica, sans-serif;
}
.svg-checkmark {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    
    animation: draw-checkmark 0.5s ease-out 0.8s forwards;
}


.svg-fill {
    fill: none;
    
    animation: fill-circle 0.5s ease-in 1.3s forwards;
}

@keyframes draw-circle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-checkmark {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-circle {
    from {
        fill: none;
    }
    to {
        fill: #10B981; 
    }
}
.svg-circle-fail {
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: draw-circle-fail 0.8s ease-out forwards;
}


.svg-cross-1 {
    stroke-dasharray: 43;
    stroke-dashoffset: 43;
    animation: draw-cross-1 0.4s ease-out 0.8s forwards;
}


.svg-cross-2 {
    stroke-dasharray: 43; 
    stroke-dashoffset: 43;
    animation: draw-cross-2 0.4s ease-out 1.2s forwards;
}


.svg-fill-fail {
    fill: none;
    animation: fill-circle-fail 0.5s ease-in 1.6s forwards;
}



@keyframes draw-circle-fail {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-cross-1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-cross-2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-circle-fail {
    from {
        fill: none;
    }
    to {
        fill: #DC2626; 
    }
}

